{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ page.title|trans }} - {{ parent() }}{% endblock %}

{% block languages %}

    {% render(controller('AppBundle:Language:switch', { route: 'page_page_show', params: { slug: 'page.slug' }, translatables: { 'page': page }})) %}

{% endblock %}

{% block content %}

    {% createphp page as="rdf" noautotag %}

        <div {{ createphp_attributes(rdf) }}>
            <h1 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h1>
            <div {{ createphp_attributes( rdf.content ) }}>{{ createphp_content( rdf.content ) }}</div>
        </div>

    {% endcreatephp %}

    {% if page.form %}

        {{ show_form(page.form.id) }}

    {% endif %}

{% endblock %}
