{% extends 'NewsBundle::layout.html.twig' %}

{% block title %}{{ article.title|trans }} - {{ parent() }}{% endblock %}

{% block languages %}

    {% render(controller('AppBundle:Language:switch', { route: 'news_article_show', params: { slug: 'article.slug' }, translatables: { 'article': article }})) %}

{% endblock %}

{% block content %}

    {% createphp article as="rdf" noautotag %}
        <div {{ createphp_attributes(rdf) }}>
            <h1 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h1>
            <p>{{ article.translatable.date|localizeddate('long', 'none', app.request.locale) }}</p>
            <div {{ createphp_attributes( rdf.content ) }}>{{ createphp_content( rdf.content ) }}</div>
            <p>{% thumbnail article.translatable.image, 'big' %}</p>
            <p><a href="{{ path('news_article_index') }}">{{ 'back'|trans }}</a></p>
        </div>
    {% endcreatephp %}

{% endblock %}
